#
# $Id: ids.config,v 1.35.2.1.8.1.2.45.2.91 2012/11/14 15:44:08 xaleuga Exp $
#
# Copyright (C) 2004 by Ericsson AB
# S - 125 26  STOCKHOLM
# SWEDEN, tel int + 46 8 719 0000
#
# The copyright to the computer program herein is the property of Ericsson AB. The program may be used and/or copied
# only with the written permission from Ericsson AB, or in accordance with the terms andconditions stipulated in the
# agreement/contract under which the program has been supplied.
#
# All rights reserved.
#
# ID's for heuristic protocols
#

# ID(number) NAME(single word)

1 	     deezer
2            facetime
3	     fring
4            winmx
5            hamachi
